In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
# 파일 읽어오기
data_file = pd.read_excel("C:\\Users\\jiwoo\\Desktop\\university\\crawling_data\\2018_datas.xlsx",encoding="utf-8")

data_file = data_file.fillna(0)

data_file.head()

,Unnamed: 0,D_TRA1_CASE,D_TRA1_SMONTH,D_TRA1_SDAY,D_TRA1_EMONTH,D_TRA1_EDAY,A2_1,A3_1,A3_2,A3_3,...,A7B_3,A7B_4,A7B_5,A7B_6,A7B_7,N_A10,A12,SEX,AGE,D_TRA1_1_TOWN1
0,0,2.0,7.0,6.0,7.0,8.0,5,1.0,2.0,0.0,...,3.0,0.0,0.0,0.0,0.0,360000.000000,4,2,62,39010.0
1,1,2.0,5.0,19.0,5.0,19.0,2,1.0,2.0,0.0,...,0.0,0.0,5.0,0.0,0.0,57200.000000,4,2,53,34360.0
2,2,2.0,5.0,8.0,5.0,8.0,12,1.0,2.0,0.0,...,3.0,0.0,0.0,0.0,0.0,90000.000000,4,1,76,31350.0
3,3,2.0,5.0,4.0,5.0,6.0,5,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,68500.000000,4,2,66,35020.0
4,4,2.0,9.0,22.0,9.0,23.0,6,1.0,2.0,0.0,...,3.0,0.0,0.0,0.0,0.0,42003.514938,4,2,65,36360.0

In [6]:
#여행객의 여행 특징
train_data = data_file.drop('D_TRA1_1_TOWN1', axis=1)
#여행지
target_data = data_file['D_TRA1_1_TOWN1']
#print(target_data)

#학습데이터와 test데이터를 나눔
x_train, x_test, y_train, y_test = train_test_split(train_data, target_data)

print(train_data.shape, x_train.shape, x_test.shape)

0        39010.0
1        34360.0
2        31350.0
3        35020.0
4        36360.0
          ...
11843    39010.0
11844    39010.0
11845    21010.0
11846    11040.0
11847    39010.0
Name: D_TRA1_1_TOWN1, Length: 11848, dtype: float64
(11848, 55) (8886, 55) (2962, 55)

In [8]:
#결정 트리 만들기
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(random_state=156)
tree.fit(x_train, y_train)

#평가 데이터에 대한 예측 수행
y_predict = tree.predict(x_test)
print(y_predict)

[39020. 37020. 33320. ... 26020. 34030. 32390.]

In [ ]:
#랜덤포레스트 만들기
from sklearn.ensemble import RandomForestClassifier

#criterion='gini' ?
forest = RandomForestClassifier(n_estimators=25,random_state=1)
forest.fit(x_train, y_train)

print('training set accuracy : ', forest.score(x_train, y_train))
print('test set accuracy : ', forest.score(x_test, y_test))