In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# 파일 읽어오기
data_file = pd.read_excel("C:\\Users\\jiwoo\\Desktop\\university\\crawling_data\\final_data.xlsx",encoding="utf-8")

data_file = data_file.fillna(0)
data_file = data_file.drop(['Unnamed: 0'], axis=1, inplace=True)

data_file.head()

,Unnamed: 0,D_TRA1_SMONTH,D_TRA1_SDAY,D_TRA1_EMONTH,D_TRA1_EDAY,A2_1,A3_1,A3_2,A3_3,A3_8,...,A7B_2,A7B_3,A7B_4,A7B_5,A7B_6,A7B_7,N_A10,SEX,AGE,D_TRA1_1_CITY1
0,0,7.0,6.0,7.0,8.0,5,1.0,2.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,360000.000000,2,62,39.0
1,1,5.0,19.0,5.0,19.0,2,1.0,2.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,57200.000000,2,53,34.0
2,2,5.0,8.0,5.0,8.0,12,1.0,2.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,90000.000000,1,76,31.0
3,3,5.0,4.0,5.0,6.0,5,1.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,68500.000000,2,66,35.0
4,4,9.0,22.0,9.0,23.0,6,1.0,2.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,42003.514938,2,65,36.0

In [3]:
#여행객의 여행 특징
train_data = data_file.drop('D_TRA1_1_CITY1', axis=1)
#여행지
target_data = data_file['D_TRA1_1_CITY1']
#print(target_data)

#학습데이터와 test데이터를 나눔
x_train, x_test, y_train, y_test = train_test_split(train_data, target_data)

print(train_data.shape, x_train.shape, x_test.shape)

(11847, 28) (8885, 28) (2962, 28)

In [4]:
#결정 트리 만들기
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(random_state=156)
tree.fit(x_train, y_train)

#평가 데이터에 대한 예측 수행
y_predict = tree.predict(x_test)
print(y_predict)

[38. 26. 34. ... 33. 34. 34.]

In [23]:
#랜덤포레스트 만들기
from sklearn.ensemble import RandomForestClassifier

#criterion='gini' ?
forest = RandomForestClassifier(n_estimators=1000,random_state=42)
forest.fit(x_train, y_train)
y_predict = forest.predict(x_test)

print('training set accuracy : ', forest.score(x_train, y_train))
print('test set accuracy : ', forest.score(x_test, y_test))

print(y_pridect)
print(y_test)

In [24]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

params = {
    'max_depth' : [ 8, 16, 20 ],
    'min_samples_split' : [ 8, 16, 24 ]
}
grid_cv = GridSearchCV(forest, param_grid=params, scoring='accuracy', cv=5, return_train_score=True)

In [25]:
grid_cv.fit(x_train , y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=1000, n_jobs=None,
                                              oob_score=False, random_state=42,
                                              verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [8, 16, 20],
                         'min_samples_split': [8, 16, 24]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='accuracy', verbose=0)

In [21]:
cv_results_df = pd.DataFrame(grid_cv.cv_results_)
cv_results_df[['param_max_depth', 'mean_test_score', 'mean_train_score']]

  param_max_depth  mean_test_score  mean_train_score
0               8         0.368261          0.444989
1               8         0.366573          0.432298
2               8         0.365447          0.424953
3              16         0.402589          0.801352
4              16         0.399662          0.666123
5              16         0.399662          0.596764
6              20         0.401013          0.916152
7              20         0.402251          0.730785
8              20         0.401688          0.633681

In [22]:
best_dt_HAR = grid_cv.best_estimator_
best_Y_predict = best_dt_HAR.predict(x_test)
best_accuracy = accuracy_score(y_test, best_Y_predict)

print('best 결정 트리 예측 정확도 : {0:.4f}'.format(best_accuracy))

best 결정 트리 예측 정확도 : 0.4153